h1{
    text-align: center;
    color: red;
}
ol{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color: green;
}
h3{
    text-align: center;
    color: green;
}
p{
    color: indianred;
}
i{
    color: lightskyblue;
}